
cassandra-db
node_modules
qdrant_storage
marqo_cache
memos_data
docker_registry
data

# DRAFTS
zeppelin
openldap
# vscode
.history
.ionide
*.vsix
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store